[agent]
  interval = "10s"
  flush_interval = "10s"
  hostname = "{{ inventory_hostname }}"

[[outputs.influxdb_v2]]
  urls = ["http://{{ influx_host }}:{{ influx_port }}"]
  token = "{{ influx_token }}"
  organization = "{{ influx_org }}"
  bucket = "{{ influx_bucket }}"

[[inputs.cpu]]
  percpu = true
  totalcpu = true

[[inputs.mem]]

[[inputs.disk]]

[[inputs.net]]
